.img-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.top-bg {
  background: linear-gradient(180deg, rgba(1, 1, 71, 0.456), #2d2954);

  background-repeat: no-repeat;
}
.overlay-bg {
  background-image: url("./assets/bg2.jpg");
  filter: brightness(1);
  filter: opacity(0.95);
  background-size: 150%;
  background-position-x: center;
  background-position-y: 0rem;
  z-index: -1;
}
.mid-bg {
  background: linear-gradient(180deg, #2f2952, #2d2954);
}

.footer-bg {
  background-color: rgb(10, 7, 32);
}
